Repository vesperfi/one-oracle: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, solhint

added require check
  contracts/DefaultOracle.sol
Due: solhint

Using price feed
  .nvmrc
  contracts/ChainlinkPriceProvider.sol
  contracts/Oracle.sol
  contracts/UniswapV2LikePriceProvider.sol
  contracts/UniswapV3PriceProvider.sol
  contracts/dependencies/chainlink/interfaces/FeedRegistryInterface.sol
  contracts/interface/IOracle.sol
  contracts/interface/IPriceProvider.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test/ChainlinkPriceProvider.test.ts
  test/DefaultOracle.test.ts
  test/helpers/index.ts
Due: eslint, solhint

First test of Chainlink
  contracts/ChainlinkPriceProvider.sol
  contracts/Oracle.sol
  test/ChainlinkPriceProvider.test.ts
  test/DefaultOracle.test.ts
Due: eslint, solhint

Added deploy script, minor updates in setup
  .gitignore
  deploy/chainlinkPriceProvider.ts
  hardhat.config.ts
  helpers/address.ts
  package-lock.json
  package.json
  test/ChainlinkPriceProvider.test.ts
  test/helpers/index.ts
Due: eslint

Added test cases, fixed issue
  .github/env.properties
  .github/workflows/main.yml
  README.md
  contracts/Oracle.sol
  contracts/UniswapV2LikePriceProvider.sol
  contracts/lib/OracleHelpers.sol
  test/ChainlinkPriceProvider.test.ts
  test/Oracle.test.ts
  test/UniswapV2PriceProvider.test.ts
  test/UniswapV3PriceProvider.test.ts
  test/helpers/index.ts
Due: eslint, solhint

Minor update as per standards
  .env.template
  contracts/ChainlinkPriceProvider.sol
  contracts/Oracle.sol
  contracts/UniswapV2LikePriceProvider.sol
  contracts/UniswapV3PriceProvider.sol
  contracts/interface/IOracle.sol
  contracts/interface/IPriceProvider.sol
  hardhat.config.ts
Due: eslint, solhint

Deployed chainlinkPriceProvider
  deployments/mainnet/.chainId
  deployments/mainnet/ChainlinkPriceProvider.json
  deployments/mainnet/solcInputs/0cf63522f4d165bf4001033f6d2eeadf.json
  releases/contracts.json
Due: none

Path conditions:
  eslint: (any of: *.js) or (any of: *.ts)
  solhint: any of: *.sol
